.box1 {
    margin: 24px;
    color: black;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding-bottom: 60px;
    text-align: center;
    font-family: cursive;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.box1 h2{
    color: #4A96AD;
    font-family: cursive;
    font-size: 40px;
    padding: 0;
}

.box1 p {
    font-weight: 100;
}

form{
    width:100%;
    max-width: 900px;
    margin:20px auto;
    margin-bottom: 40px;
}

@media screen and (max-width:996px) {
    form{
        width:100%;
        max-width: 500px;
        margin:20px auto;
        margin-bottom: 40px;
      
    }
  }

  @media screen and (max-width:550px) {
    form{
        width:100%;
        max-width: 280px;
        margin:20px auto;
        margin-bottom: 40px;
      
    }
  }


  form p{
      color: white;
  }

  input, textarea{
    width: 900px;
    max-width: 100%;
    resize: none;
  }

  @media screen and (max-width:996px) {
    input, textarea{
        width: 500px;
        max-width: 100%;
        resize: none;
      
    }
  }

  @media screen and (max-width:550px) {
    input, textarea{
        width: 280px;
        max-width: 100%;
        resize: none;
      
    }
  }

  textarea{
    height: 200px;
}

  label{
    text-align: left;
    font-weight: 400;
}

  form button{
    background: #4A96AD;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 18px;
    border:none;
    color:#fff;
}

  form p{
    text-align: left;

}

  .container.contact{
    min-height: 100vh;
}
