footer{
    height: 215px;
    background-color: #00bee8d8;
    width: 100%;
    margin-top:0;
    padding-top:0;
    
}

.container1 > a i {
margin: 10px 10px 10px 10px;
width: 50px;
height: 50px;
background: #eee;
text-align: center;
line-height: 50px;
border-radius: 50%;
transition: all 300ms ease-in-out;

}

.container1 a i.fa-facebook-f{
    color: #fff;
}

.container1 a i.fa-linkedin{
    color: #fff;
}

.container1 a i.fa-youtube{
    color:  #ff0000;
}

.container1 a i.fa-google-plus{
    color: #DB4437;
}

a i.fa-facebook-f{
    background: #3B5998;
}

a i.fa-linkedin{
    background: #0077B5;
}

a i.fa-youtube{
    background: #ffffff;
}

a i.fa-google-plus{
    background: #fff;
}

a i.fa-facebook-f:hover {
    color: #3B5998;
    background:#fff;
    border: 2px solid #3B5998;
}

a i.fa-linkedin:hover {
    color: #0077B5;
    background:#fff;
    border: 2px solid #0077B5;
}

a i.fa-youtube:hover {
    color: #ffffff;
    background:#ff0000;
    border: 2px solid #0077B5;
}

a i.fa-google-plus:hover {
    color: #fff;
    background:#DB4437;
    border: 2px solid #0077B5;
}

.copy p{
    font-size: 12px;
    color: white;     
    text-align: center;
    margin-top: 20px;
}

.footer-menu p{
    font-size: 12px;
    color: white;     
    text-align: center;
    margin-top: 20px;
    visibility: hidden;
}

.footer-menu ul li{
    align-items: center;
    text-align: center;
    margin-bottom: 3px;
    list-style-type: none;
    font-weight: 600;
}

.footer-menu ul{
    padding: 0;
    margin: 0;
}

li a{
    color:white; 
    
}

.container h4{
    text-align: center;
    font-weight: 800;
}

.container h3{
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}

.container1 {
    text-align: center;
}

.container h6{
    color: white;
    text-align: center;
}

@media screen and (max-width: 991px) {
    footer{
      height: 280px;
      
    }
}

@media screen and (max-width: 575px) {
    footer{
      height: 480px;
      
    }
}

@media screen and (max-width: 575px) {
    .copy p{
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 575px) {
    .footer-menu p{
        visibility: visible;
      
    }
}

@media screen and (max-width: 575px) {
    .copy {
       margin-top: 20px;
    }
}

@media screen and (max-width: 575px) {
    .footer-menu {
       margin-top: 10px;
    }
}



