.intro {
    background:url('/imagini/seo-2394237.jpg') left bottom no-repeat fixed;
    height:600px;width:100%;
  }

  .overlay {
    background-color:rgba(0, 0, 0, 0.6);width:100%;height:100%;display:flex;flex-flow:column wrap;align-items:center;justify-content:center;
    text-shadow: black 0.3em 0.3em 0.3em;
  }

.intro h3 {
    color:white;
    font-size:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 900;
}

.intro h2 {
  color:white;
    font-size:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 800;
   

}

.container .card{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width:480px) {
  .intro h3{
    font-size: 30px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media screen and (max-width:480px) {
  .intro h2{
    font-size: 42px;
    margin-left: 5px;
    margin-right: 5px;
  }
}