.change .jumbotron {
    margin-bottom: 80px;
    border-bottom: 2px rgb(199, 199, 45) solid;
    border-top: 2px rgb(199, 199, 45) solid;
    margin-top: 10px;
}

.change1 .jumbotron {
    margin-bottom: 80px;
    border-bottom: 2px rgb(199, 199, 45) solid;
    border-top: 2px rgb(199, 199, 45) solid;
}

.change2 .jumbotron {
    border-bottom: 2px rgb(199, 199, 45) solid;
    border-top: 2px rgb(199, 199, 45) solid;
}

.change .jumbotron{
    text-align: center;
    background-image: url('/imagini/Screenshot from 2018-08-06 22-34-46.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
}

.change .jumbotron h2{
    color: black;
    font-weight: 800;
    margin: 10px;
}

.change .jumbotron p{
    color: black;
    font-weight: 800;
    margin: 10px;
}

.change1 .jumbotron{
    text-align: center;
    background-image: url('/imagini/Screenshot from 2018-08-06 22-37-42.png');
    background-position: 0% 5%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
}

.change1 .jumbotron h2{
    color: black;
    font-weight: 800;
    margin: 10px;
}

.change1 .jumbotron p{
    color:black;
    font-weight: 800;
    margin: 10px;
}

.change2 .jumbotron{
    text-align: center;
    background-image: url('/imagini/Screenshot from 2018-08-06 22-39-16.png');
    height: 500px;
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.change2 .jumbotron h2{
    color: black;
    font-weight: 800;
    margin: 10px;
}

.change2 .jumbotron p{
    color: black;
    font-weight: 900;
    margin: 10px;
    
}

.jumbotrons h2{
    color: black;
    text-align: left;
    font-size: 50px;
}
.jumbotrons p{
    color: black;
    text-align: left;
    
}
 
.jumbotrons h1{
    color: white;
    text-align: center;
    text-shadow: black 0.3em 0.3em 0.3em;
}



.row {
    padding:  5px;
    margin: 0;
    padding-top: 20px;
}

.padding {
    padding-bottom: 20px;
    
}

.align {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
  
  }
  
  .video-padding {
     padding: 20px;
  }

  .box {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    opacity: 0.70;
}

.jumbotrons h1{
    padding: 18px;
}

